/*@import url(//fonts.googleapis.com/css?family=Sedgwick+Ave);*/

body {
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -103;
}

.videoContainer 
{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:-101;
    opacity: 0.6;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    opacity: 0.6;
}

.fire {
  color: red;
}

#name {
  color: white;
  font-family: 'Roboto';
}

.centralText {
  font-family: 'Sedgwick Ave', cursive;
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  padding-top: 25vh;
  z-index:100;
}

.aboutMe {
  font-family: 'Roboto';
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  margin-top: 25vh;
  z-index:100;
  padding: 0 20vw 0 20vw;
}

.skills {
  font-family: 'Roboto';
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  margin-top: 15vh;
  padding: 0 20vw 0 20vw;
  z-index:100;
}

.projects {
  font-family: 'Roboto';
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  margin-top: 15vh;
  padding: 0 20vw 0 20vw;
  z-index:100;
}

@media screen and (max-width: 75em) {
  .aboutMe {
    margin-top: 50vh;
  }
}

@media screen and (max-width: 40em) {
  .centralText {
    font-size: 1.2em;
    margin-top: 8vh;
  }

  #main {
  font-size: 1.5em;
  font-weight: bold;
  }

  #inspire {
   font-size: 1em;
  margin-top: 10vh;  
  }

  #quote {
  font-size: 1em;
  margin-bottom: 10vh;
  }

  #twitter, #codepen, #github {
  color: #2513af;
  font-size: 1.5em;
  }

  .aboutMe {
    margin-top: 30vh;
  }

}

#main {
  font-size: 2em;
  font-weight: bold;
  margin-top: 8vh;
}

#quote {
  margin-top: 5vh;
}

.connect {
  font-size: 1.5em;
}

#twitter, #codepen, #github {
  margin-left: 10px;
  margin-right: 10px;
  color: #2513af;
}

.thumbnail {
  height: auto;
  width: auto;
}

ul {
   list-style-type: none;
}

h1 {
  font-family: 'Sedgwick Ave', cursive;
  text-decoration: underline;
}
