/*@import url(//fonts.googleapis.com/css?family=Sedgwick+Ave);*/

body {
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -103;
    margin: 0;
    padding-right: 1.5vw;
    overflow-x: hidden;
}

#pic {
  height: 25vh;
  width: 25vh;
  margin: 0 auto;
  padding-left: 20vw;
  padding-right: 12vw;
  float: left;
 }

 #pic img {
  max-height: 25vh;
  max-width: 25vh;
  content: cover;
  border-radius: 50%;
  border: 10px solid #242426;
  border-style: inset;
  box-shadow: 0px 7px 8px rgba(0,0,0,0.4),
         0px 18px 30px rgba(0,0,0,0.1),
         0px 28px 49px rgba(0,0,0,0.1);
 }

.videoContainer 
{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index:-101;
    opacity: 0.6;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    opacity: 0.6;
}

header {
  height: 100vh;
  background-size: cover;
}

.fire {
  color: red;
}

#name {
  color: white;
  font-family: 'Roboto';
}

.centralText {
  font-family: 'Sedgwick Ave', cursive;
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  padding-top: 25vh;
  z-index:100;
}

#main {
  text-align: left;
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

.aboutMe {
  font-family: 'Roboto';
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  z-index:100;
  padding: 0 20vw 0 20vw;
}

 h1 {
  padding-top: 10vh;
  text-shadow:  0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.skills {
  font-family: 'Roboto';
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  padding: 0 20vw 0 20vw;
  z-index:100;
}

.projects {
  font-family: 'Roboto';
  font-size: calc(1em + 0.8vw);
  color: black;
  text-align: center;
  padding: 0 20vw 0 20vw;
  z-index:100;
}

@media screen and (max-width: 75em) {
    #pic {
      float: none;
      padding: 0;
    }

    #main {
  padding-top: 3vh; 
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  }

}

@media screen and (max-width: 120em) {
   
}

@media screen and (max-width: 40em) {

    #pic {
      float: none;
      padding: 0;
    }

  page-wrapper {
    width:auto; 
    overflow:hidden; 
    max-width:auto;
    padding:0.5em
  }

  .centralText {
    font-size: 0.8em;
    padding-top: 12vh;
  }

  #main {
  padding-top: 3vh; 
  width: 75vw;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-left: 40px;
  }

  #inspire {
    font-size: 1.3em;
    /*margin-top: 1vh; */
    width: 75vw; 
    margin-left: 40px;
    margin-bottom: 0;
  }

  #quote {
  font-size: 1.3em;
  margin-bottom: 7vh;
  }

  #twitter, #codepen, #github {
  color: #2513af;
  font-size: 2em;
  }

  .aboutMe {
    padding: 0 10vw 0 10vw;
  }

}

#main {
  font-size: 2em;
  font-weight: bold;
  /*margin-top: 8vh;*/
}

#quote {
  margin-top: 5vh;
}

.connect {
  font-size: 1.5em;
}

#twitter, #codepen, #github {
  margin-left: 10px;
  margin-right: 10px;
  color: #2513af;
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

.thumbnail {
  height: auto;
  width: auto;
}

ul {
   list-style-type: none;
}

h1 {
  font-family: 'Sedgwick Ave', cursive;
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 1vh;
}

footer {
  padding-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
}

.fa-heart {
  color: red;
}

.fa-coffee {
  color: black;
}

#inspire {
  padding-top: 1vh;
} 